@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400&display=swap');

* {
    --main: #1b1c20;
    --accent: #bea44a;
}

html {
    background-color: #f1f1f1;
}

body {
    margin: 15px;
    border: 2px solid var(--accent);
}

.header-container {
    display: table;
    width: 100%; /*important for table too*/
}

.header-banner {
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    height: calc(100% - 300px);
    overflow: hidden;
}

header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
}

header h1 {
    color: var(--main);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header h2 {
    color: var(--accent);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
}

hr {
    width: 50%;
    border-color: var(--accent);
    border-width: 3px;
    margin: 0 auto 5px;
}

header nav ul li {
    display: inline-block;
    padding: 16px;
}

nav ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--main);
    text-transform: uppercase;
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
    justify-content: space-around;
}

.chefs {
    display: none;
    -webkit-flex-basis: 35%;
    -moz-flex-basis: 35%;
    flex-basis: 35%;
}

img.chefs {
    width: 20%;
}

.main-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main);
    margin-top: 10px;
    line-height: 50px;
}

.description {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}


.gallery-image {
    margin-top: 20px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
}

.gallery-image img {
    width: 100%;
    border-radius: 50%;
}

.post-header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    opacity: 0;
    letter-spacing: 3px;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes hover-animation {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.8;
    }
    80% {
        opacity: 1.0;
    }

}


.gallery-image:hover .post-header {
    color: #fff;
    animation: hover-animation 333ms ease-in;
    opacity: 1.0;
    text-shadow: 3px 3px 9px #111;
}

footer {
    width: calc(100% - 40px);
    background-color: #ebe7e0;
    padding: 20px;
    margin-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

footer ul {
    width: -moz-fit-content;
    width: fit-content;
}

footer ul li {
    display: block;
    padding-bottom: 10px;
}

footer ul li p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--accent);
}

.footer-sm {
    width: 32px;
    margin-left: auto;
}

/*parent - size, img - width 100%*/
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

/*Header*/
@media only screen and (min-width: 1150px) {
    header h1 {
        font-size: 56px;
    }

    header h2 {
        font-size: 30px;
        line-height: 38px;
    }

    header hr {
        display: none;
    }

    header nav ul li {
        display: inline-block;
        padding-inline: 175px;
    }

    .header-banner {
        width: 90%;
        margin-inline: 5%;
    }

}


/*Main*/
@media only screen and (min-width: 1150px) {
    .aboutus {
        -webkit-flex-basis: 45%;
        -moz-flex-basis: 45%;
        flex-basis: 45%;
    }

    img + .main-heading {
        display: none;
    }

    .container {
        margin-top: 30px;
        flex-direction: row;
        -moz-flex-flow: row wrap;
        -o-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .gallery-image {
        -webkit-flex-basis: 30%;
        -moz-flex-basis: 30%;
        flex-basis: 30%;
    }

    .chefs {
        display: block;
    }

}

/*Footer*/
@media only screen and (min-width: 1150px) {
    footer {
        width: calc(100% - 80px);
        padding: 40px;
        margin-top: 20px;
    }

    footer ul {
        margin-top: 20px;
        margin-left: 50px;
    }

    footer ul li {
        display: block;
        padding-bottom: 10px;
    }

    footer ul li p {
        font-size: 18px;
        line-height: 14px;
    }

    .footer-sm {
        margin-right: 50px;
    }

}
